/* Styles existants */

header {
    background-color: #006400;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.buttons {
    text-align: center;
    margin: 20px;
}

.buttons button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    background-color: #006400;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#form-container {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px 0 0 8px;
    padding: 20px;
    display: none;
    transition: transform 0.3s ease;
}

#form-container.open {
    display: block;
}

#form-container label {
    display: block;
    margin: 10px 0 5px;
}

#form-container input,
#form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#form-container button[type="submit"],
#form-container button[type="button"] {
    background-color: #006400;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

#form-container button[type="button"] {
    background-color: #8B0000; /* Red background for cancel button */
}

#form-container textarea {
    resize: none; /* Disable resizing */
}

.service {
    text-align: center;
    margin: 20px;
}

.testimonials {
    background: #f9f9f9;
    padding: 20px;
}

.testimonial {
    margin: 10px 0;
}

.audio-control {
    text-align: center;
    margin: 20px;
}

footer {
    background: #006400;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.social-media img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}